.subMain{
    width: 55%;
    height: 100%;
    margin-left: 14%;
    margin-top: 4%;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
    color:   gray;

}

.content{
    width: 50%;
    display: flex;
    padding-top: 3%;
    padding-left: 5%;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.00938em;
}

.phonenumber{
    margin-left: 7%;
}

.address{
    padding-left: 5%;
    padding-top: 3%;
}

.text{
    font-size: 22px;
    width: 50%;
    display: flex;
    font-family: inherit;
    padding-top: 3%;
    padding-left: 5%;
}

.radioButtons{
    padding-left: 17%;
    padding-top: 4%;
}

.orderSummary{
    width: 55%;
    height: 100%;
    margin-left: 14%;
    margin-top: 2%;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
    color:   gray;
}