.MuiToolbar-root {
    display: flex;
    position: fixed;
    background-color: #881127;
    align-items: center;
}

.MuiToolbar-regular {
    min-height: 84px;
      width: 2498px;
}
.toolBar{
    background-color: #881127;
    line-height: 77px;
    margin-top: 0px;
    width: 100%;
    flex-direction: column;
}
.bookTitle{
    
    color: white;
    font-size: 36px;
    display: flex;
    margin-left: 13%;
}

.searchBar{
    margin-left: 94px;
    margin-top: 15px;
}